{% extends 'base.html.twig' %}

{% block heading %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bienvenue sur FoodDiary !</h1>
            <p>Vous devez vous connecter pour pouvoir accéder à votre journal.</p>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}

{% block body %}
{% endblock %}